
@import '../../sass/styles';
//mobile menu
.mobile{
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  & ul{
      display: flex;
      justify-content: space-between;
      list-style: none;
  }

  @media only screen and (min-width: 599px) {
  display: none;
  visibility: hidden;
  }
}
.mat-sidenav{
background-color: $white;

}
.mat-drawer{
  position: fixed !important;
  padding-top: 4rem;
}


.mat-list-item{
  font-size: 1.5rem;
  letter-spacing: .15rem;
  margin-top: 7%;
  & img{
    height: 6rem;
  }
}
.mat-list-item:hover{
  background-color: $white;
}

fa-icon{
  color: $contrast;
  font-size: 2rem;
  line-height: 3rem;
}
a.active{
  color: $contrast;

}
a.active::after{
  content: "";
  background-image: url('../../assets/zaznaczenie.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 180px;
  z-index: -1;
  margin: -110px 0 0 30px;

}
