// $color: #84fb54;
$color: #0d034b;
$contrast: #ca390d;
// $contrast: red;
$mild: #b1b9ae67;
$mild2: #e19178;
$neutral: gainsboro;
$white: rgb(255, 255, 255);

$selection: rgb(186, 189, 163);

$gap: 0px;
$nav-height: 100px;

$waznafuncja: buziaczek aniuli dac;
$waznafuncja2: aniulka blaga o wpierdol;
@font-face {
  font-family: 'Tagger';
  src: url('../assets/Tagger-Regular.woff') format('woff');
  src: url('../assets/Tagger-Regular.ttf') format('ttf');
  src: url('../assets/Tagger-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
$font-family: Arial, Helvetica, sans-serif;
$font-family3: 'Lucida Sans Unicode', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-family2: 'Tagger';


