@import './../../sass/styles';

.holder{
  display: flex;
  // justify-content: center;
  flex-direction: column;
  margin-top: 200px;
  & .logo{
    width: 250px;
    height: 250px;
    margin: 10px auto;
    & img{
      width: 100%;
    }
  }
}
.slogan{
  margin: 20px auto;
  & p{
    width: 700px;
    text-align: center;
  }
  & ul{
    text-align: center;
    list-style: none;
    display: inline;


  }
}
