<div class="holder">
  <div class="logo">
    <img src="../../assets/logo.png" alt="">
  </div>
  <div class="slogan">
    <p>Prowadzimy zajęcia nauki jazdy na deskorolce na terenie
      Trójmiasta oraz na terenach je okalających jak np. Rumia, Reda lub
      Pogórze przez 7 dni w tygodniu.</p>
      <ul>
        <li>
          <a href="tel:+48511205832">+48 511 205 832</a>
        </li>
        <li>
          <a href="mailto:inomhuskateschool@gmail.com">inomhuskateschool@gmail.com</a>
        </li>
      </ul>
  </div>

</div>
