@import './../../sass/styles';

.holder{
  display: flex;
  // justify-content: center;
  flex-direction: column;
  margin-top: 200px;
  @include respond(phone){
    margin-top: 0px;
    height: calc(100vh - 48px);


  }
  & .logo{
    width: 240px;
    height: 240px;
    margin: 10px auto;
    @include respond(phone){
      width: 60%;
      height: 40%;
    }
    & img{
      width: 100%;
    }
  }
}
.slogan{
  margin: 20px auto;
  & p{
    width: 700px;
    text-align: center;
    @include respond(tab-port){
      width: 60%;
      margin: auto;
    }

    @include respond(phone){
      width: 300px;
      margin: 0 auto;
      font-size: 1rem;
      padding: 0;
    }
  }
  & ul{
    text-align: center;
    list-style: none;
    display: inline;
    @include respond(phone){
      font-size: 1rem;
    }

  }
}
