@import './../../sass/styles';
/* Some very basic styles to make things look sensible - you don't need to use these */


#instafeed {
  display: flex;
  flex-wrap: wrap;
  max-width: 64rem;
  margin: auto;
  justify-content: center;
  margin-top: 200px;

  @include respond(phone){
    margin-top: 0px;
  }
}

