@import './../../sass/styles';
/* Some very basic styles to make things look sensible - you don't need to use these */


#instafeed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  max-width: 64rem;
  margin: auto;
  & a {
    display: block;
    width: 300px;
    height: 300px;
  }
  & img {
    display: block;
    width: 100%;
  }
}
