<div class="desktop">
  <nav>
    <div id="nav-main-container">
      <div id="nav-main">
        <ul>
          <li><a id="logo" routerLink="/info"><img id="logo-img" src="../../assets/logo.png" alt=""></a></li>
          <li routerLinkActive="active-li" >
            <a routerLink="/info" routerLinkActive="active">
              <img src="../../assets/znak zapytania.svg" alt="" style="margin-right: -30px;">
              <span>&nbsp;&nbsp;&nbsp;Info</span>
            </a>
          </li>
          <li routerLinkActive="active-li">
            <a routerLink="/cennik" routerLinkActive="active">
              <img src="../../assets/dokument.svg" alt="">
              <span>Cennik</span>
            </a>
          </li>
          <li routerLinkActive="active-li">
            <a routerLink="/kontakt" routerLinkActive="active">
              <img src="../../assets/ryjek.svg" alt="">
              <span>Kontakt</span>
            </a>
          </li>
          <!-- <li routerLinkActive="active-li" >
            <a routerLink="/galeria" routerLinkActive="active">
              <img src="../../assets/boom.svg" alt="">
              <span>Galeria</span>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
    <nav>
      <div class="nav-sec">
        <ul>
          <!-- <li><a href="https://www.facebook.com/inomhusskateschool" target="_blank">Fejs</a></li>
          <li><a href="https://www.instagram.com/inomhusskateschool" target="_blank">Insta</a></li> -->
          <li><a id="inomhus" href="https://theinomhus.com" target="_blank"><img src="../../assets/inomhus.png" alt=""></a></li>
        </ul>
      </div>
    </nav>
    <nav>
      <div class="nav-qua">
        <a href="http://helio.webd.pl/" target="_blank">Design ☀ Helio</a>
      </div>
    </nav>
  </div>
