<div class="desktop">
  <nav>
    <div id="nav-main-container">
      <div id="nav-main">
        <ul>
          <li><a id="logo" routerLink="/info"><img src="../../assets/logo.png" alt=""></a></li>
          <li><a routerLink="/info" routerLinkActive="active">Info</a></li>
          <li><a routerLink="/cennik" routerLinkActive="active">Cennik</a></li>
          <li><a routerLink="/kontakt" routerLinkActive="active">Kontakt</a></li>
          <li><a routerLink="/galeria" routerLinkActive="active">Galeria</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <nav>
      <div class="nav-tri">
        <ul>
        </ul>
      </div>
    </nav>
    <nav>
      <div class="nav-sec">
        <ul>
          <li><a href="https://www.facebook.com/inomhusskateschool" target="_blank">Fejs</a></li>
          <li><a href="https://www.instagram.com/inomhusskateschool" target="_blank">Insta</a></li>
          <li><a id="inomhus" href="http://helio.webd.pl/inomhus" target="_blank"><img src="../../assets/inomhus.png" alt=""></a></li>
        </ul>
      </div>
    </nav>
  </div>
