@import './../../sass/styles';

#nav-main-container{
  width: 100%;
  height: $nav-height;
  padding: 2% 0;
  background-color: $white;
  z-index: 9;
  position: fixed;
  top: 0;
  transition: .4s ease;
  box-shadow: $mild2 -100px -100px 1000px;
  @include respond(tab-port){
    height: 80px;
  }
}

nav{
    & ul{
        padding: 0;
    }
    & li{
        text-decoration: none;
        list-style-type: none;
    }
}

nav li.active-li a span::after{
  content: "";
  background-image: url('../../assets/zaznaczenie.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .7;
  top: -20px;
  bottom: 0;
  left: 50%;
  width: 130px;
  position: absolute;
  display: inline-block;
  height: 150px;
  z-index: -1;
  @include respond(tab-port){
    top: -15px;
    bottom: 0;
    left: -5px;
    width: 110px;
  }

}
nav a.active{
  color: $contrast;
  opacity: .9;
  transform: translateY(-1.5px);
  text-shadow: 1px 3px 2px $mild;
}

nav #nav-main{
    margin: 0 auto;
    width: 90%;
    position: inherit;
    height: $nav-height;

    img#logo-img{
      height: 100px;
      vertical-align: top;
    }



    & ul{
        display: flex;
        justify-content: space-between;
    }
    & li{
      line-height: $nav-height;
      &:first-child{
        padding-left: 50px;
      }


    }
    & a{
        width: 100px;
        text-align: center;
        transition: .2s ease-out;
        display: flex;
        flex-direction: row;
        & img{
          height: 100px;
          margin-right: -15px;
        }
        & span{
          padding-left: 15px;
        }
    }
}

@include respond(tab-port){
  nav #nav-main{
    margin: 0 auto;
    width: 100%;
    position: inherit;
    height:80px;

    img#logo-img{
      height: 80px;
      vertical-align: top;
    }



    & ul{
        display: flex;
        justify-content: space-around;
    }
    & li{
      line-height: 30px;
      &:first-child{
        padding-left: 0;

      }


    }
    & a{
        width: 80px;
        text-align: center;
        transition: .2s ease-out;
        display: flex;
        flex-direction: column;
        & img{
          height: 50px;
          margin-right: 0px;

        }
        & span{
          padding-left: 0px;
          margin-top: -15px;


        }
    }
}
}


nav .nav-sec{
    position: fixed;
    bottom: 2%;
    right: 2%;
    text-align: right;
    z-index: 9;

    & ul li a img{
      height: 2.5rem;
    }
}

nav .nav-tri{
    position: fixed;
    bottom: 2%;
    left: 2%;

}

nav .nav-qua{
  font-size: 8.5px;
  line-height: 11px;
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translate(50%, -50%) rotate(270deg);
}

