@import './../../sass/styles';

nav{
    & *{
        z-index: 10;
    }
    & ul{
        padding: 0;
    }
    & li{
        text-decoration: none;
        list-style-type: none;
        & a{
            padding: 0 20px;
            & img{
              height: 95px;
            }
        }
    }
}

nav #nav-main{
    display: inline-block;
    width: 60%;
    position: fixed;
    top: 2%;
    left: 2%;
    height: $nav-height;


    & ul{
        display: flex;
        justify-content: space-around;
    }
    & a{
        transition: .2s ease-out;
        line-height: $nav-height;
    }
}
#nav-main-container{
  width: 100%;
  height: $nav-height;
  background-color: $white;
  z-index:10;
  position: fixed;
  top:0;
  transition: .4s ease;

  box-shadow: $color 1px 3px 70px;
}

nav .nav-sec{
    position: fixed;
    bottom: 2%;
    right: 2%;
    text-align: right;
    & ul li a img{
      height: 2.5rem;
    }
}

nav .nav-tri{
    position: fixed;
    bottom: 2%;
    left: 2%;

}

nav .nav-qua{
  font-size: 8.5px;
  line-height: 11px;
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translate(50%, -50%) rotate(270deg);
}

