@import './../../sass/styles';

.holder{
  margin-top: 200px;
  width: 80%;
  margin-bottom: 150px;
  & p{
    width: 70%;
    margin: 50px 0 100px 0;
  }
  & img:nth-child(1){
    margin-top: -4%;
    width: 100%;
  }
  & img:nth-child(4){
    width: 70%;
    margin-left: 5rem;
    }
}
.important
{
  width: 120%;
  display: flex;
  text-align: left;
  & .col:nth-child(1){
    width: 40%;
  }
  & .col:nth-child(2){
    width: 51%;
  }
  & .col{
    & h2{
      padding: 0 2rem;
    }
    & img{
      width: 100%;
    }
    & ol{
      line-break: strict;
      margin: 10px;
      list-style: none;
      & li{
        display: block;
        line-height: 2rem;
        & img{
          width: 50px;
          bottom: -25px;
          position: relative;
        }
      }

    }

  }
}
