@import './../../sass/styles';
h1{
  position: absolute;
  mix-blend-mode: luminosity;
  background-color: $contrast;
  width: 100%;
  margin: 1% 0;
  line-height: 5rem;
  right:20%;
  text-align: right;
  font-size: 2.25rem;
  z-index: 10;
  @include respond(tab-land){
    font-size: 1.8rem;
    line-height: 2.7rem;
    letter-spacing: .13rem;
    padding: 0;
    margin: 3% 0;
  }
  @include respond(tab-port){
    padding: 1%;
    text-align: center;
    width: 98%;
    left: 0;
    line-height: 3rem;
    background-color: $white;
    mix-blend-mode: lighten;
  }

  @include respond(phone){
    margin: 0;
    position: relative;
  }

}
.holder{
  position: relative;
  margin-top: 47px;
  width: 80%;
  margin-bottom: 200px;
  display: inline-block;
  vertical-align: top;

  & p{
    width: 70%;
    margin: 50px 0 100px 0;
  }
  & img:nth-child(1){
    margin-top: -3%;
    width: 100%;
    z-index: 7;
  }
  & img:nth-child(4){
    width: 70%;
    margin-left: 5rem;
    }

  @include respond(tab-port){
    margin-top: 0px;
    width: 100%;
    & p{
      width: 90%;
      margin: 10px 0 40px 0;
    }
    & img:nth-child(1){
      margin-top: -4%;
      width: 100%;
    }
    & img:nth-child(4){
      width: 100%;
      margin-left: 0rem;
      }
  }
}
.important{
  width: 100%;
  display: flex;
  text-align: left;
  & .col:nth-child(1){
    width: 45%;
  }
  & .col:nth-child(2){
    width: 55%;
  }
  & .col{
    & h2{
      padding: 0 2rem;
    }
    & img{
      width: 100%;
    }
    & ol{
      line-break: strict;
      margin: 10px;
      list-style: none;
      & li{
        display: block;
        line-height: 2rem;
        & img{
          width: 50px;
          bottom: -25px;
          position: relative;
        }
      }

    }
  }
  @include respond(tab-port){
    width: 100%;
    display: block;
    text-align: left;
    & .col:nth-child(1){
      width: 100%;
    }
    & .col:nth-child(2){
      width: 100%;
    }
    & .col{
      & h2{
        padding: 0 1rem;
      }
      & img{
        width: 100%;
      }
      & ol{
        padding: 0 1rem;
      }
    }
  }
}
