<h1 class="header-1">Nauka jazdy na deskorolce… dla każdego</h1>

<div class="holder">
  <img src="../../assets/fota 1.jpg" alt="">

  <h2>Dlaczego warto spróbować jazdy na deskorolce?</h2>
  <p>Przede wszystkim, jazda na deskorolce to niesamowicie ciekawa forma
    aktywnego spędzania czasu na świeżym powietrzu, gwarantująca niemałą
    zabawę. Poprawia ona sprawność i koordynację ruchową, ale też rozwija
    kreatywność i konsekwentność w dążeniu do celu.
  </p>

  <img src="../../assets/fota 2-waska.jpg" alt="">
  <p>
    W trakcie zajęć nauki jazdy na deskorolce stawiamy na to, aby oprócz
  bezpiecznej nauki, całemu procesowi towarzyszyła dobra zabawa i miło
  spędzony czas. Niezależnie od tego czy macie 3, 14 czy 50 lat - nigdy nie jest
  za późno, żeby zacząć tę przygodę.
  </p>
  <h2>Gdzie prowadzimy zajęcia?</h2>
  <p>Nasze zajęcia nauki jazdy na deskorolce prowadzimy na terenie Trójmiasta
    oraz na terenach je okalających jak np. Rumia, Reda lub Pogórze. Dla
    Waszego komfortu dojeżdżamy na wybrany przez Was skatepark. W
    wypadku wystąpienia deszczu oraz w czasie trwania zimy, nasze zajęcia
    odbywają się na krytych skateparkach na terenie Gdańska.
  </p>
  <div class="important">
    <div class="col">
      <img src="../../assets/fota 3-waskaa.jpg" alt="">
    </div>
    <div class="col">

      <h2>Co zabrać ze sobą na zajęcia?</h2>
      <ol>
        <li><img src="../../assets/deska.svg" alt=""><span>Deskorolkę</span><br>
          <caption class="comment">jeżeli nie posiadasz własnej, daj znać - udostępnimy Ci
            nasz sprzęt</caption>

        </li>
        <li>
          <img src="../../assets/buty.svg" alt=""><span>Buty z płaską podeszwą</span>
        </li>
        <li>
          <img src="../../assets/woda.svg" alt=""><span>Wodę</span>
        </li>
        <li>
          <img src="../../assets/kask.svg" alt=""><span>Kask i ochraniacze</span><br>
          <caption class="comment">jeżeli nie posiadasz własnych, daj znać - udostępnimy Ci sprzęt</caption>
        </li>
        <li>
          <img src="../../assets/dokument.svg" alt=""><span>Podpisaną zgodę na uczestnictwo w zajęciach</span>
        </li>
      </ol>
      <a href="../../assets/dokument.pdf" download="dokument.pdf">
        <button>Pobierz zgodę</button>
      </a>
    </div>
    <div class="col">
      <img src="../../assets/fota 3-mobile.jpg" alt="">
    </div>
  </div>
</div>

