@import './../../sass/styles';

.holder{
  display: flex;
  // justify-content: center;
  flex-direction: column;
  height: calc(100vh-$nav-height);

}
@media only screen and (min-width: 600px){
  table{
  margin: 40px;

}}
th{
  background-color: $color;
  font-size: 1.5rem;
  color: $white;
  width: 10%;
  background-image: url(../../assets/10pink.jpg);
  background-size: 50%;
  background-blend-mode: color;
}
td{
width: 30%;
text-align: center;
}
tr{
  height: 100px;
}
