@import './../../sass/styles';

.holder{
  display: flex;
  flex-direction: column;
  @include respond(tab-port){
    margin-top: 200px;
  }
  @include respond(phone){
    margin-top: 100px;
  }
}
@media only screen and (min-width: 600px){
  table{
  margin: 40px;

}}
th{
  background-color: $neutral;
  font-size: 1.5rem;
  color: $color;
  width: 10%;
  // background-image: url(../../assets/10pink.jpg);
  background-size: 50%;
  background-blend-mode: color;
  @include respond(phone){
    font-size: 1rem;
  }

}
td{
width: 30%;
text-align: center;
@include respond(phone){
  font-size: 1rem;
}
}
tr{
  height: 100px;
}
